.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-logo img {
    width: 100px;
    border-radius: 20%; /* Adjust logo size as needed */
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icon {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .social-icons {
      margin-top: 10px;
    }
  }
  